body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e1e1e1;
    color: #333;
}

.cabecera {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.cabecera h1 {
    margin: 0;
}

.contacto {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: -6px 6px 0px rgba(0, 0, 0, 0.2);
}

.contacto h2 {
    color: #333;
    font-size: 24px;
}

.contacto p {
    margin: 5px 0;
}

.contacto a {
    color: #d80000;
    text-decoration: none;
}

.educacion,
.experiencia {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: -6px 6px 0px rgba(0, 0, 0, 0.2);
}

.titulos {
    font-weight: bold;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.educacion p,
.experiencia p {
    margin: 5px 0;
}

.habilidades,
.certs {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: -6px 6px 0px rgba(0, 0, 0, 0.2);
}

.habilidades h2,
.certs h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.habilidades ul,
.certs ul {
    list-style: none;
    padding: 0;
}

.habilidades li,
.certs li {
    margin: 5px 0;
}
